@page
@model MyScriptureJournal.Pages.Scriptures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scripture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Verses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Verses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.book.BookName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Scripture.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
